<div>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h1 flex md-truncate>Bookings</h1>

      <md-button class="md-icon-button" aria-label="Book" ng-click="$ctrl.bookSelected()">
        <md-icon md-svg-icon="assets/img/round-assignment_turned_in-24px.svg"></md-icon>
      </md-button>
  
      <md-button class="md-icon-button" aria-label="History">
        <md-icon md-svg-icon="assets/img/round-history-24px.svg"></md-icon>
      </md-button>
  
      <md-button class="md-icon-button" aria-label="Logout">
        <md-icon md-svg-icon="assets/img/round-exit_to_app-24px.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-whiteframe class="md-whiteframe-1dp" layout-wrap style="margin:16px" flex="auto" layout="row" layout-align="center center">

    <!-- <div>
        <md-icon md-svg-icon="assets/img/round-search-24px.svg" layout-align="start"></md-icon>
    </div> -->

    <md-datepicker style="margin:16px"
                   ng-model="$ctrl.qd" 
                   md-placeholder="Enter date" 
                   ng-change="$ctrl.onDateChanged()"></md-datepicker>

    <md-input-container style="margin:16px">
      <label>Hour</label>
      <md-select ng-model="$ctrl.qh">
        <md-option ng-value=" ">None</md-option>
        <md-option ng-repeat="h in ['3:00', '4:00', '5:00', '6:00', '7:00']" ng-value="h">
          {{h}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container style="margin:16px">
      <label>Course</label>
      <md-select ng-model="$ctrl.qs">
        <md-option ng-value=" ">None</md-option>
        <md-option ng-repeat="course in $ctrl.courses" ng-value="course">
          {{course}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container style="margin:16px">
      <label>Teacher</label>
      <md-select ng-model="$ctrl.qt">
        <md-option ng-value=" ">None</md-option>
        <md-option ng-repeat="teacher in $ctrl.teachersFor($ctrl.qs)" ng-value="teacher">
          {{teacher}}
        </md-option>
      </md-select>
    </md-input-container>
  </md-whiteframe>

  <md-content class="md-padding" layout-xs="column" layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 5%;" ng-cloak>
    <md-card ng-repeat="booking in $ctrl.bookings | filter: $ctrl.qs | filter: $ctrl.qt | filter: $ctrl.qd | filter: $ctrl.qh">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{booking.booking_from.course.courseTitle}}</span>
          <span class="md-subhead">
            <h3>{{booking.completeName}}</h3>
            il {{booking.booking_date}}
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="start center">
        <md-checkbox ng-model="booking.selected" aria-label="Seleziona">
          Seleziona
        </md-checkbox>
      </md-card-actions>
    </md-card>
  </md-content>
</div>